*{
    margin: 0;
    padding: 0;
}
body{
   display: flex;
   justify-content: center;
   align-items: center; 
   height: 100vh;
   background-color: #f4f4f4;
   font-family: Arial,sans-serif;
}
.calculator{
    background-color: #222;
    padding: 20px;
    border: none;
    border-radius: 10px;
    width: 250px;
}
#display{
    width: 100%;
    height: 50px;
    font-size: 25px;
    margin-bottom: 10px;
    text-align: right;
    padding-right: 10px;
}
.buttons{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    gap: 10px;
}
button{
    padding: 15px;
    font-size: 18px;
    cursor: pointer;
    border-radius: 5px;
    border: none;
}
.clear{
    grid-column: span 4;
    background-color: rgb(219, 60, 60);
    color: white;
}
